.page.main-page {

}

.page.main-page .content::-webkit-scrollbar{
    display: none;
}

.page.main-page .content{
    position: relative;
    display: flex;
    // justify-content: space-between;
    // overflow-x: scroll;
    width: 100%;
    // width: max-content;
    
    .screen-panel::-webkit-scrollbar {
        display: none;
    }

    .screen-panel {
        display: flex;
        width: fit-content;
        justify-content: space-between;
        overflow: scroll;
        gap: 64px;
        flex-wrap: wrap;
        flex-direction: column;

        > div:not(.nav-container) {
            width: 400px;
            height: 80%;
            position: relative;
            border: 1px solid white;
            padding: 32px 32px;
            border-radius: 5%;
    
        }
    }

    

    .btn-container {
        position: absolute;
        right: 16px;
        top: 16px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .tutorial-container {
        position: relative;
    }

    .nav-container {
        width: 100%;
        height: 60px;
        position: absolute;
        bottom: 16px;
        left: 0;
        right: 0;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        ul::-webkit-scrollbar {
            display: none;
        }

        ul {
            justify-content: space-between;
            align-items: center;
            list-style: none;
            display: flex;
            gap: 5%;
            font-size: 40px;
            font-family: "Gilroy-Regular";
            width: 100%;
            padding: 0px 64px;
            overflow-x: scroll;
            height: 30px;
            margin-block: 0px;
            

            > li {
                cursor: pointer;
                min-width: fit-content;
                text-align: center;
            }
        }
    }

    lib-icon-btn {
        opacity: 0.69;
        transition: opacity 0.5s;
    }

    lib-icon-btn:hover {
        opacity: 1;
    }
}

.vertbtn-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-end;
}

.cirbtn-container {
    display: flex;
    align-items: center;
    position: relative;
    right: 75px;
    
    .arc-container {
        z-index: 10;
        display: flex;
        gap: 0px;
        flex-direction: column;
    }

    .arc-container {
        > lib-icon-btn:nth-child(1) {
            transform: translateX(65px) translateY(0);

        }

        > lib-icon-btn:nth-child(2) {
            transform: translateX(25px) translateY(-10px);
        }

        > lib-icon-btn:nth-child(3) {
            transform: translateX(0px) translateY(-10px);
        }

        > lib-icon-btn:nth-child(4) {
            transform: translateX(25px) translateY(-10px);
        }

        > lib-icon-btn:nth-child(5) {
            transform: translateX(65px) translateY(-10px);
        }
    }

    .base-container { 
        position: absolute;
        left: 55px;
        padding-right: 0px;
        --lib-icon-button-width: 85px;
        --lib-icon-button-height: 85px;
    }
        

    .main {
        width: 120px;
    }


}